In [1]:
import sqlite3
import pandas as pd
import sqlalchemy

In [3]:
engine=sqlalchemy.create_engine(r'sqlite:///C:\Users\56945\Downloads\database.sqlite')

In [7]:
# conexi√≥n realizada!
df=pd.read_sql('SELECT * FROM League LIMIT 5',engine)

In [10]:
df[['name']]

                     name
0  Belgium Jupiler League
1  England Premier League
2          France Ligue 1
3   Germany 1. Bundesliga
4           Italy Serie A